@use '../../styles/variables' as v;
.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   background-color: #0B0C10;
}

@media (max-width: 600px){
   .profile {
      object-fit: cover;
      max-width: 100%;
      height: 200px;
      width: 200px;
    }
}